*{
  margin: 0px;
}

.app{
  background-color: rgb(202, 211, 226);
}

.app_header{
  object-fit: contain;
  background-color: white;
  padding: 5px;
  border-bottom: 1px solid slateblue ;
}

.app_headerImage{
  height: 70px;
}